cchecksum>=0.4.4
eip712==0.3.3
eth-account==0.13.7
eth-event==1.4.10
eth-hash[pycryptodome]
eth-typing==5.2.1
faster-eth-abi==5.2.30
faster-eth-utils==5.3.28
faster-hexbytes==1.3.8
hypothesis==6.167.1
lazy-object-proxy==1.12.0
prompt-toolkit==3.0.53
psutil==7.2.2
py-solc-ast==1.2.10
py-solc-x==2.0.5
py==1.11.0
pygments-lexer-solidity==0.7.0
pygments==2.21.0
pytest-xdist==3.8.0
pytest==9.1.1
python-dotenv==1.2.3
pyyaml==6.0.3
requests==2.34.2
rlp==5.0.0
semantic-version==2.10.0
tqdm==4.70.0
ujson==5.13.0
vvm==0.3.2
vyper==0.4.3
web3==7.5.0
wrapt>=1.12.1,<2
